//SASS MAP
// 375px, 1440px
$breakpoints-up: ("mobile": "23.4375em", "desktop": "90em");

// 374px, 1439px
$breakpoints-down: ("mobile": "23.375em", "desktop": "89.9375em");

@mixin breakpoint-up($size){
    @media (min-width: map-get($breakpoints-up, $size)){
        @content;
    }
}

@mixin breakpoint-down($size){
    @media (max-width: map-get($breakpoints-down, $size)){ //map-get returns value of key-value pair
        @content; //output content of media
    }
}



//Font
@font-face {
    font-family: "Hanken Grotesk";
    src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}