@font-face {
  font-family: "Hanken Grotesk";
  src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}
* {
  margin: 0;
}

html, body {
  height: 100%;
}

p {
  font-size: 18px;
  font-family: "Hanken Grotesk";
  color: hsl(221deg, 100%, 96%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #F0F0F0;
}
.container__page {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 802px;
  max-width: 375px;
  height: 100%;
  width: 100%;
}
@media (min-width: 90em) {
  .container__page {
    max-width: 1440px;
    max-height: 1080px;
    box-shadow: 5px 5px 15px lightgray;
  }
}
.container__cards {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 802px;
  max-width: 375px;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}
@media (min-width: 90em) {
  .container__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 737px;
    max-height: 510px;
    box-shadow: 5px 5px 10px lightgray;
  }
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(hsl(252deg, 100%, 67%), hsl(241deg, 81%, 54%));
  border-radius: 0px 0px 30px 30px;
  max-height: 352px;
  max-width: 375px;
  height: 100%;
  width: 100%;
  text-align: center;
}
@media (min-width: 90em) {
  .result {
    max-width: 367px;
    max-height: 510px;
    border-radius: 30px;
  }
}
.result__title {
  margin: 26px 60px;
  display: flex;
  align-items: center;
}
.result__title > p {
  font-weight: 700;
  color: hsl(241deg, 100%, 89%);
}
@media (min-width: 90em) {
  .result__title {
    margin: 30px 60px;
  }
}
.result__score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 140px;
  max-width: 140px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(hsl(256deg, 72%, 46%), hsla(241deg, 72%, 46%, 0));
  border-radius: 50%;
}
@media (min-width: 90em) {
  .result__score {
    max-width: 180px;
    max-height: 180px;
    width: 100%;
    height: 100%;
  }
}
.result__score .numerator > p {
  color: hsl(0deg, 0%, 100%);
  font-size: 50px;
  font-weight: 800;
}
@media (min-width: 90em) {
  .result__score .numerator > p {
    font-size: 64px;
  }
}
.result__score .denominator {
  color: hsl(241deg, 100%, 89%);
  font-weight: 500;
  opacity: 0.5;
}
.result__score .denominator > p {
  font-size: 14px;
}
@media (min-width: 90em) {
  .result__score .denominator > p {
    font-size: 18px;
  }
}
.result__description {
  margin: 26px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 90em) {
  .result__description {
    margin: 30px 60px;
  }
}
.result__description .rank {
  margin-top: 10px;
}
.result__description .rank > p {
  color: hsl(0deg, 0%, 100%);
  font-size: 20px;
  font-weight: 700;
}
.result__description .prose {
  margin-top: 10px;
}
.result__description .prose > p {
  color: hsl(241deg, 100%, 89%);
  font-size: 16px;
}
@media (min-width: 90em) {
  .result__description .prose > p {
    font-size: 18px;
  }
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 30px;
  max-height: 450px;
  max-width: 367px;
  height: 100%;
  width: 100%;
}
@media (min-width: 90em) {
  .summary {
    max-width: 367px;
    max-height: 510px;
    height: 100%;
    justify-content: space-around;
  }
}
.summary > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 315px;
}
.summary__title {
  margin: 20px 30px 0px;
  width: 100%;
}
.summary__title > p {
  color: hsl(224deg, 30%, 27%);
  font-weight: 800;
  width: 100%;
}
.summary__breakdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px 30px 0px;
  width: 100%;
}
@media (min-width: 90em) {
  .summary__breakdown {
    margin: 30px 30px 0px;
  }
}
.summary__breakdown .reaction, .summary__breakdown .memory, .summary__breakdown .verbal, .summary__breakdown .visual {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 56px;
  border-radius: 5px;
}
.summary__breakdown .reaction:not(:last-child), .summary__breakdown .memory:not(:last-child), .summary__breakdown .verbal:not(:last-child), .summary__breakdown .visual:not(:last-child) {
  margin-bottom: 10px;
}
.summary__breakdown .reaction p, .summary__breakdown .memory p, .summary__breakdown .verbal p, .summary__breakdown .visual p {
  margin: 10px 0px;
}
.summary__breakdown .reaction {
  background-color: hsla(0deg, 100%, 67%, 0.15);
}
.summary__breakdown .reaction > p {
  color: hsl(0deg, 100%, 67%);
}
.summary__breakdown .memory {
  background-color: hsla(39deg, 100%, 56%, 0.15);
}
.summary__breakdown .memory > p {
  color: hsl(39deg, 100%, 56%);
}
.summary__breakdown .verbal {
  background-color: hsla(166deg, 100%, 37%, 0.15);
}
.summary__breakdown .verbal > p {
  color: hsl(166deg, 100%, 37%);
}
.summary__breakdown .visual {
  background-color: hsla(234deg, 85%, 45%, 0.15);
}
.summary__breakdown .visual > p {
  color: hsl(234deg, 85%, 45%);
}
.summary__breakdown__score {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.summary__breakdown__score #numerator {
  color: hsl(224deg, 30%, 27%);
  padding-right: 5px;
}
.summary__breakdown__score p {
  color: hsl(241deg, 100%, 89%);
  font-weight: 800;
  padding-right: 5px;
}
.summary__icon {
  margin: 5px 10px;
}
.summary__button {
  width: 100%;
  max-height: 54px;
  height: 100%;
  margin: 20px 30px 0px;
}
@media (min-width: 90em) {
  .summary__button {
    justify-self: flex-end;
    margin: 30px;
  }
}
.summary__button > button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50px;
  color: hsl(0deg, 0%, 100%);
  font-size: 18px;
  font-weight: 500;
  background-color: hsl(224deg, 30%, 27%);
}/*# sourceMappingURL=style.css.map */